<div>
    <div class="min-w-[40%] flex justify-center">
        <div class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="mb-4 flex justify-between items-center" >
                <h5 class=" text-xl font-semibold text-gray-700 dark:text-gray-400">job.title</h5>
                <span class="px-2  text-sm leading-5 font-semibold rounded-2xl ] grid place-content-center " :class="{'bg-green-100 text-gray-800': job.status=='Accepting Applications' , 'bg-red-100 text-gray-800' : job.status=='Closed'}">
                                job.status
                </span>
            </div>
            <div class="flex items-baseline text-gray-900 dark:text-white">
                
            </div>
            <!-- List -->
            <ul role="list" class="flex justify-between my-7">
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                        <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z" />
                    </svg>

                    <span class="text-base font-medium leading-tight text-gray-500 dark:text-gray-400">job.contract_type </span>
                </li>
                <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-base font-medium leading-tight text-gray-500 dark:text-gray-400"> job.location </span>
                </li>
            </ul>
            <div class="p-4 border-t border-gray-400 font-serif text-gray-500">
                    job.description.slice(0,200)+' ...' 
            </div>
            <div :to="{ name: 'explore-job', params: { id: `${job.id}`} }">
                <div :to="{ name: 'detailed-job', params: { id: job.id } }">
                    <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">
                        View Job
                    
                    </button>
                    </div>
                    

            </div>
        </div>

    </div>
    
</div>