<div>
    <aside class="w-1/6 mr-5 ml-1 border-r-2  bg-gray-800 h-screen rounded-md  shadow-2xl ">
            <ul class="flex gap-6 justify-center flex-col mt-8  h-[80%] items-center ">
                <div 
                    v-if="isEmployer"
                    exact-active-class="bg-gray-700 text-white" 
                    class="w-[80%] rounded-lg text-sm font-medium  hover:rounded-md hover:text-white hover:bg-gray-700 px-4 py-3 text-center text-gray-300" 
                    routerLink="/dashboard/home" >
                    Jobs Applications
                </div>
                <div 
                    v-if="isEmployer"
                    active-class="bg-gray-700 text-white" 
                    class="w-[80%] rounded-lg text-sm font-medium  hover:rounded-md hover:text-white hover:bg-gray-700 px-4 py-3 text-center text-gray-300" 
                    routerLink="/dashboard/myjobs" >
                    My Jobs
                </div>
                <div 
                    v-if="isCandidate"
                    active-class="bg-gray-700 text-white" 
                    class="w-[80%] rounded-lg text-sm font-medium  hover:rounded-md hover:text-white hover:bg-gray-700 px-4 py-3 text-center text-gray-300" 
                    routerLink="/dashboard/myprofile" >
                    My Profile
                </div>
                <div 
                    v-if="isCandidate"
                    active-class="bg-gray-700 text-white" 
                    class="w-[80%] rounded-lg text-sm font-medium  hover:rounded-md hover:text-white hover:bg-gray-700 px-4 py-3 text-center text-gray-300" 
                    routerLink="/dashboard/myapplications" >
                    My Applications
                </div>
            </ul>
    </aside>
</div>