<main class="w-[calc(100%-200px)] ml-2 left-48 relative top-32" >
    <!-- <div class="p-4 sm:ml-64"> -->
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
            <div class="grid grid-cols-3 gap-4 mb-4">
                
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ipsum distinctio ipsam modi commodi dignissimos in omnis, eius optio sed harum illum ipsa, rerum veniam. A assumenda magnam doloribus sunt.
                Impedit alias nesciunt, aliquam numquam assumenda ipsa nihil ipsam harum optio nam error modi hic vero quo sit facilis enim quibusdam voluptatem vitae dolor! Provident eligendi officiis illum dolore. Harum.
                Tempore, possimus maxime odit iusto voluptates minima autem similique aut? Labore, sit animi vitae porro non voluptas sunt blanditiis quidem, aliquam natus obcaecati, ullam commodi temporibus et nam? Necessitatibus, voluptatum?
                Ducimus magni modi, vitae asperiores ipsa inventore soluta dolorum fugit nobis, labore numquam, rem nisi omnis. Quam suscipit, debitis inventore, tenetur velit, illum assumenda blanditiis similique consequuntur nemo illo quas!
                Temporibus beatae voluptatem a totam officiis molestiae, quo repudiandae voluptates consequuntur animi blanditiis et tempore adipisci reprehenderit. Commodi eos, nulla tempore cupiditate consequatur accusamus nam reiciendis error placeat, debitis architecto.
                Ad, recusandae nostrum molestiae deserunt beatae commodi eaque obcaecati? Similique dignissimos libero earum vitae tenetur dolore vel a, culpa itaque et, unde, magnam nihil consequatur incidunt asperiores fuga consequuntur dicta!
                Possimus optio repellat cupiditate quas non deleniti? Ut mollitia veniam beatae necessitatibus molestias, similique ducimus, nihil labore reiciendis enim illum amet et recusandae iure deleniti minus nobis nesciunt, assumenda perspiciatis?
                Consectetur quae sed hic omnis ipsa tenetur dolorem accusamus quibusdam labore voluptates, autem cupiditate delectus tempore nemo commodi quos est velit, officia consequuntur ipsam rem eos aspernatur temporibus. Accusamus, tempora!
                Accusantium in ea quidem, facilis provident delectus quas, doloribus consequuntur officia possimus placeat libero repudiandae vitae aperiam, porro illo ex voluptates labore? Nisi, molestias sapiente earum nam vero incidunt aspernatur.
                Accusantium, sed deleniti quae sint aliquam atque vitae saepe quasi minima molestiae necessitatibus possimus maiores, voluptas labore exercitationem eligendi earum? Quibusdam nemo ipsum ullam recusandae quam necessitatibus non vero officia.
                Expedita distinctio, inventore rem debitis tenetur enim architecto dolorem quidem consectetur eius saepe perferendis quis quisquam iure temporibus itaque iusto amet necessitatibus reiciendis beatae. Cumque ipsum tempore in quis voluptas.
                Animi quos, quia perferendis voluptas ea quas nobis maxime nihil qui vero facilis distinctio hic repellat assumenda a molestias excepturi incidunt aliquam eum mollitia? Magni accusamus impedit quisquam perspiciatis odio?
                Pariatur tenetur illo error laborum officiis magni atque facere asperiores corporis est. Placeat accusantium magni id nostrum officiis reiciendis qui eveniet iusto voluptatibus atque cum minus, veniam corrupti, sapiente fugit.
                Aperiam saepe vitae quis incidunt quos obcaecati ad sunt? Animi perspiciatis sed rem, aperiam dignissimos laboriosam amet natus ea quo inventore commodi magnam quae quod pariatur. Nihil cupiditate non deserunt.
                Fugiat alias iste maiores. Adipisci dolorem velit accusamus similique sunt voluptates alias repellat impedit, fugiat consectetur veritatis culpa? Ex rem impedit velit officia libero nostrum eum cupiditate suscipit, natus consectetur.
                Deleniti nostrum tenetur quaerat consequuntur voluptates? Nemo architecto, accusantium sint dolores at perferendis fugiat totam magni fugit consequatur harum quis itaque facere officiis ad ex impedit obcaecati reprehenderit nihil fuga.
                Ad quos rem voluptatem accusamus ullam harum iusto, voluptate, autem enim asperiores molestias animi eum dolorem pariatur, quaerat eos! Quis veniam placeat necessitatibus vero architecto aliquid quo pariatur eveniet suscipit?
                Esse impedit cumque est adipisci. Exercitationem voluptatibus delectus quibusdam fugiat? Repellat facere voluptas doloribus, quos natus accusamus nihil officia delectus, repellendus itaque animi quibusdam sed vel consectetur atque culpa. Eaque.
                Deserunt quos ut doloremque minus earum nihil cum quae illo ex odit recusandae quis adipisci corporis possimus, fugit assumenda quaerat. Praesentium consequuntur quaerat esse deserunt cum id aperiam, accusantium nam.
                Maiores error laborum autem qui, numquam, minus quaerat veritatis totam assumenda earum quos reiciendis. Nam quidem quo perspiciatis eius ipsa odit omnis modi. Blanditiis, a consectetur vitae ab ullam voluptatum.
            </div>
         <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">
               <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
               </svg>
            </p>
         </div>
         <div class="grid grid-cols-2 gap-4 mb-4">
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
         </div>
         <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
            <p class="text-2xl text-gray-400 dark:text-gray-500">
               <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
               </svg>
            </p>
         </div>
         <div class="grid grid-cols-2 gap-4">
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
            <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
               <p class="text-2xl text-gray-400 dark:text-gray-500">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                  </svg>
               </p>
            </div>
         </div>
      </div>
    <!-- </div> -->
    
  </main>